@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@100;200;300;400;500;600;700;800;900&display=swap");



:root {
  --first-color : #ffba41;
  --second-color : #f57341;
  --text-color : rgb(32, 32, 32);
  --transition : .4s ease;
  --gradiend-color :linear-gradient(270deg, rgba(255,128,0,1) 21%, rgba(255,170,65,1) 73%);
  --background-color :rgb(255,128,0); 
  --back-color : #ebfcf7;
  --main-color: #ffffff ;
  --prime-color : #ececec;
  --special-color : #fff;
  --sp-color : #292929;
  --li-color : #eeee;
  --bl-element : "block";
  --chn-color : linear-gradient(135deg, var(--main-color) 25%, transparent 25%), linear-gradient(225deg, var(--main-color) 25%, transparent 25%);
  --gallery-color: #fff;
  --gallery-detail-color : #fff;
  --linear-color :  -webkit-linear-gradient( 45deg, var(--first-color), var(--second-color) );
  --wh-color: #fff;
} 

.dark-mode {
  --main-color: #121212 ;
  --prime-color : #292929;
  --special-color: #292929;
  --text-color : #ffff;
  --li-color : rgb(32, 32, 32);
  --chn-color : linear-gradient(135deg, var(--main-color) 25%, transparent 25%), linear-gradient(225deg, var(--main-color) 25%, transparent 25%);
  --gallery-color: #292929;
  --gallery-detail-color: #121212;
  --back-color : #39393975;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing : border-box
}
html {
  scroll-behavior:smooth;
}
.container {
  padding-left : 15px ;
  padding-right: 15px ;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none
}
body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


header {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: var(--transition);
}
header.chn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.374);
  background-color: var(--gallery-color);

}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

}

.container .logo {
  font-weight: bold;
  font-size: 30px;
  background: var(--linear-color);
  /* background-color: var(--background-color); */
  /* background-image:var(--gradiend-color); */
  background-size: 100%;
  background-clip :text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  height: 75px;
  display: flex;
  align-items: center;
}

.container .links {
  display: flex;
  /* height: 75px; */
  /* align-items: center; */
  gap :20px;
}

@media (max-width: 767px) {
  .container .links li a {
    margin-left: 35px;
    font-size: 20px;
  }
}
.container .links li a {
  margin-left: 10px ;
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
  transition: .4s all ease-in-out;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {

  .container .links li a {
    margin-left: 10px;
    font-size: 23px;
  }
  .container .links {
    position: fixed;
    top: 74px;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color:var(--main-color);
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .container .links.open {
    height:100vh;
    border-top: 1px solid var(--first-color);
  }
}
.container .links li{
  transition: var(--transition);
}
.container .links li:hover {
  transform: translateY(-10px);
}

.container .links li a::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  transition: .4s;
}
.container .links li:first-child {
  transform: translateY(-10px);
}
.container .links li a:hover::before ,.container .links li a.active::before {
  width: 100%;
}
.container .links li a.links{
  position: relative;
}


@media (max-width: 767px) {
  /* .container .links li a::before {
    content: "";
    position: absolute;
    top: -17px;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    transition: .4s;
  } */
  .container .links li a:hover::before ,.container .links li a.active::before {
    width: 0;
  }
  
}
.container .links li a:hover,.container .links li a.active {
  background:var(--linear-color);
  /* background-image:var(--gradiend-color); */
  background-size: 100%;
  background-clip :text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.container .btn {
  font-size: 25px;
  /* color:var(--second-color); */
  background: var(--linear-color);
  /* background-image:var(--gradiend-color); */
  background-size: 100%;
  background-clip :text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  padding: 2px 20px ;
  border-radius: 5px; 
  border: 2px solid var(--first-color);
  transition: var(--transition);
  position: relative;
  z-index: 1;
  font-weight: bold;
  transition-delay: .1s;
}
.container .btn:hover {
  -webkit-text-fill-color: #fff; 
  border-color:transparent;
}
.container .btn::before {
  content: "";
  position: absolute;
  width: 0;
  transition: var(--transition);
  height: 100%;
  background: var(--linear-color);
  left : 0 ;
  top: 0;
  z-index: -1;
  border-radius: 5px;
}
.container .btn:hover::before {
  width: 100%;
}
header .container .list {
  position: relative;
  /* background-color: #ffba41; */
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: var(--transition) all;
  display: none;
}
@media (max-width: 767px) {
  header .container .list {
    display: block;
  }
}
.container .list span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--first-color);
  border-radius: 5px;
  transition: var(--transition) all;
}
.container .list span:first-child {
  top: 5px;
}
.container .list span:nth-child(2) {
  top: 14px;
}
.container .list span:nth-child(2).del {
  width: 0;
  opacity: 0;
}
.container .list span:last-child {
  top: 23px;
}
.container .list span:first-child.active, .container .list span:last-child.active  {
  top: 14px;

}
.container .list span:first-child.active {
  transform: rotate(45deg);
  background-color: rgb(165, 49, 49);
}
.container .list span:last-child.active {
  transform: rotate(-45deg);
  background-color: rgb(165, 49, 49)
}
/* start landing */
.landing {
  position: relative;
  background-color: var(--main-color);
}
.landing::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: var(--chn-color);
  background-size: 30px 30px;
  display: var(--bl-element);
}
/* .spikes {
  position: relative;
  background: #2c3e50;
  height: 50vh;
} */



.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  min-height: calc(100vh - 75px);
}

@media (max-width: 400px ) {
  .landing .container .content {
    margin-top: 113px;
  }
}
.landing .container .content .text {
  width: 585px;
  margin-bottom: 72px;
  color: var(--text-color)
}

@media (max-width: 991px) {
  .container .content .text {
    width: auto !important;
  }
}
.landing .container .content .text p {
  font-size: 60px;
  font-weight: bold;
  color :var(--text-color);
  margin-bottom: 20px;

}

@media (max-width: 991px) {
  .landing .container .content .text p {
    font-size: 45px;
}
}

@media (max-width: 767px) {
  .landing .container .content .text p{
    font-size: 40px;
  }
}
.container .content .text span {
  margin-bottom: 20px;
  display: block;
  max-width: 370px;
  font-size: 13px;
  color: var(--text-color)
}


.container .detailContact form {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  position: relative;
}
.container .detailContact form input {
  padding: 20px 15px;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 13px 1px #00000047;
    border-radius: 6px;
    background-color: #fff;
}
.container .detailContact form input:focus {
  outline: none;
}
.container .detailContact form .btnContact {
  right: 12px;
    position: absolute;
    padding: 10px 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background:var(--linear-color);
}
.container .detailContact form .btnContact:hover {
  background: linear-gradient(90deg, rgba(255,128,0,1) 21%, rgba(255,170,65,1) 73%);
}
.container .detailContact .social_cont {
  display: flex;
    gap: 38px;
}
.container .detailContact .social_cont p {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: var(--text-color)
}
.container .detailContact .social_cont span {
  color: #696969;
    font-weight: 400;
    font-size: 17px;
}
.container .image {
  position: relative;
}
@media (max-width: 767px) {
  .container .image {
    display: none;
  }
}


.container .image .img .land-img {
  position: relative;  
  width: 500px;
  height: 500px;
}
@media (max-width: 991px) {
  .container .image .img .land-img {
    width: 100% ;
    height: auto;
  }
}
.container .image .ico img{
  width: 70px ;
  position: absolute;
  top: 50% ;
  left: 50% ;
  transform: translate(-50%,-50%);
}

.container .image .ico {
  position: absolute;
  background-color: #fff3;
  border: 1px solid rgb(191, 191, 191);
  /* backdrop-filter: blur(20px); */
  border-radius: 20px;
  box-shadow: 0 0 13px 2px #00000038;
  width: 85px;
  height: 85px;
}
@media (max-width: 991px) {
  .container .image .ico {
    width: 64px;
    height: 62px;
    border-radius: 10px
  }
  .container .image .ico img {
    width: 50px ;

  }
}
@keyframes movement-1 {
  0% , 100% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-30px);
  }
}
@keyframes movement-2 {
  0% , 100% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes movement-3 {
  0% , 100% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-50px);
  }
}

.container .image .ph1 {
  top: 87px;
  right: 40px;
  animation: movement-1 linear 3.5s 1s infinite;
}
@media (max-width: 991px) {
  .container .image .ph1 {
    top: 87px;
    right: 0;
}
}
.container .image .ph2 {
  left: 28px;
  top: 44%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: movement-2 linear 3.5s .2s infinite;

}
.container .image .ph3 {
  right: 71px;
  top: 70%;
  animation: movement-3 linear 3.5s .1s infinite;

}




.learn-section {
  padding:100px 0 ;
  position: relative; 
  background-color: var(--prime-color);

}

.learn-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.learn-section .container .content {
  padding-top: 60px;
}
.learn-section .container .img {
  /* flex: 1; */
  /* overflow: hidden; */
  background-color: var(--first-color);
  width: 300px;
  position: relative;
  height: 375px;
  border-radius: 20px 200px 10px 0px ;
  z-index: 66;
  /* border-radius: 2% 82% 4% 0% / 59% 100% 9% 116%; */
}
.learn-section .container .img::before {
  content: "";
  position: absolute;
  width: 100%;
  right: -20px;
  background-color: #ffba4154;
  height: 100%;
  z-index: -1;
  top: 22px;
  border-radius:0px 0px 20px 200px;
}
.learn-section .container .img img {
  position: absolute;
  max-width: 90%;
  top: -51px;
}



.learn-section .content .text {
  max-width: 315px
} 
.learn-section .content .text p {
  font-weight: 600;
    font-size: 50px;
    color: var(--text-color);
}
.learn-section .content .text p span {
  font-weight: bold;
    display: inline-block;
    font-size: 60px;
  background: var(--linear-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip:text ;
}
.learn-section .content .text > span {
  font-size: 12px;
}

.learn-section .content .detail p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 17px;
  color: green;
}
.learn-section .content .detail p i {
  background-color: green;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
}
.brands {
  background-color:var(--main-color);
  padding: 100px 0;
  position: relative;
}
.brands .container {
  position: relative;
}
.container .brand {
  display: flex;
  align-items: center;
  /* gap: 40px; */
  justify-content: space-around;
  background-color: var(--gallery-color);
  padding: 20px 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 32%);
  position: relative;
  z-index: 2;
  
}

.container .brand img {
  width: 100px;
  cursor: pointer;
  height: 50px;
}

.container .brand img:nth-child(2) {
  width: 60px
}
@media (max-width: 767px) {
  .container .brand img {
    width: 80px
  }
  .container .brand img:nth-child(2) {
    width: 45px
  }
}
.brands .back {
  position: absolute;
  width: calc(100% - 34px);
  background-color: var(--first-color);
  height: 100%;
  top: 0;
  left: 16px;
  transform: rotate(-1deg);
}

/* position: absolute;
    width: calc(100% - 34px);
    background-color: var(--first-color);
    height: 100%;
    top: 0;
    left: 18px;
    transform: rotate(-2deg); */

.explore-section {
  position: relative;
    padding: 50px 0;
  transition: var(--transition);
  background-color: var(--main-color);
  overflow-x: hidden;

}


.explore-section .container h1 {
  text-align: center;
    font-size: 40px;
  color : var(--text-color)
  }
.explore-section .container h1 span {
  background: var(--linear-color);
  background-size: 100%;
  background-clip :text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 700;
}
.explore-section .container .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px ,1fr));
  gap: 30px ;
  padding-top: 30px;
}
.explore-section .container .img-container .data {
  border: 1px solid var(--first-color);
  padding:5px 20px ;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: var(--transition);
  cursor: pointer;
  z-index: 1;
}

.explore-section .container .img-container .data::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  z-index: -1;
  background: var(--linear-color);
  border-radius: 10px;

}
.explore-section .container .img-container .data:hover::before{
  opacity: 1;
}

.explore-section .container .img-container .data img {
  width : 50px;
  border-radius: 50%;
  height: 50px;
}
.explore-section .container .img-container .data p {
  font-weight: 600;
  font-size: 21px;
  transition: var(--transition);
  color: var(--text-color)

}

.explore-section .container .img-container .data:hover p {
  color: #fff
}


.rivews {
  padding:100px 0 ;
  position: relative;
  background-color: var(--main-color);

}


.rivews .container .text {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}
.rivews .container .text h3 {
  font-size: 40px;
  color: var(--text-color);
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.rivews .container .text p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  color: var(--text-color);
  max-width: 40%;
}

@media (max-width: 991px) {
  .rivews .container .text p {
    max-width: 100%;
  }
}
@media (max-width:767px) {
  .rivews .container .text p{
    display: none
  }
}

/* .swiper {
  width: 100%;
  height: 100%; */
/* } */
.swiper {
  /* width: 100%; */
  /* height:300px; */
  margin-left: auto;
  margin-right: auto;
  padding: 12px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--special-color);
  height: calc((100% - 30px) / 2) !important;
  padding :15px 16px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0 0 10px 2px #00000030;
  margin-bottom: 30px;
  border-radius: 3px;
}
@media (max-width: 991px) {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.swiper-slide .img img {
  width: 188px;
  height: 200px;
  border-radius: 5px;
}



.swiper-slide .content {
  text-align: left;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .swiper-slide .content {
    text-align: center;
  }
}
.swiper-slide .content .icons {
  margin-bottom: 12px;
}
.swiper-slide .content .icons i {
  color: var(--first-color);
  font-size: 30px;
}
.swiper-slide .content h3 {
  color :var(--text-color);
  margin-bottom: 15px;
}
.swiper-slide .content p {
  font-size: 12px;
  margin-bottom: 13px;
  max-width: 80%;
  color : var(--text-color)
}
@media(max-width: 991px) {
  .swiper-slide .content p {
    max-width: 100%;
  }
}
.swiper-slide .content span {
  color: var(--text-color);
  font-size: 12px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 35px !important;
  text-transform: none!important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}


.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color , #9b9b9b) !important;
}



.projects-count {
  padding: 80px 0;
  position: relative;
  background-color: var(--main-color);

}

/* .projects-count::after {
  content: "";
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: var(--chn-color);
  background-size: 30px 30px;
  position: absolute;
  bottom: -29px;
} */



@media (max-width: 767px) {
  .projects-count {
    padding-top: 0px ;
    padding-bottom: 100px ;
  }
}
.projects-count .container .img-container {
  display: flex;
  /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
  /* gap :15px;  */
  justify-content: space-around;
  flex-wrap: wrap;
}


.projects-count .container .box {
  background: var(--linear-color);
  position: relative;
  text-align: center;
  padding: 10px;
  color :#fff; 
  width : 120px ;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .projects-count .container .img-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :20px; 
  }
  .projects-count .container .img-container .box {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}
.projects-count .container .box h2 {
  font-size: 30px;
}
.projects-count .container .box p {
  font-size : 20px
}


.sign-section {
  padding :100px 0;
  position: relative;
  background-color: var(--prime-color);

}


@media (max-width: 767px) {
  .sign-section {
    padding-top: 50px;
    padding-bottom: 150px;
  }
}
.sign-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  gap : 40px;
}
@media (max-width: 767px) {
  .sign-section .container {
    flex-wrap: wrap;
  }
}
.sign-section .container .sec-details {
  width: 60%;
}
@media (max-width: 767px) {
  .sign-section .container .sec-details {
    width: 100% ;
  }
}
.sign-section .container .sec-details h1 {
  font-size: 62px;
  color : var(--text-color);
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .sign-section .container .sec-details h1 {
    font-size :43px; 
  }
}
.sign-section .container .sec-details p {
  color :var(--text-color);
  margin: 20px 0;
  max-width: 70%;
}
@media (max-width: 991px) {
  .sign-section .container .sec-details p {
    max-width: 100%;
  }
}
@media (max-width:767px ) {
  .sign-section .container .sec-details p {
    font-size: 12px;
    line-height: 1.6;
  }
}
.sign-section .container .sec-details form {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  position: relative;
  margin-top:40px ;
  width: 80%;
}
@media (max-width: 991px) {
  .sign-section .container .sec-details form {
    width: 100% ;
  }
}
.sign-section .container .sec-details form input {
  padding: 20px 15px;
  width: 100%;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 13px 1px #00000047;
  border-radius: 6px;
}
.sign-section .container .sec-details form input:focus {
  outline: none;
}
.sign-section .container .sec-details form a {
  right: 12px;
    position: absolute;
    padding: 10px 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background: var(--background-color);
    background: var(--gradiend-color);
}

.sign-section .container .sec-details form a:hover {
  background : linear-gradient(90deg, rgba(255,128,0,1) 21%, rgba(255,170,65,1) 73%)
}
.sign-section .container .images {
  background-color: var(--first-color);
  width: 300px;
  position: relative;
  height: 375px;
  border-radius: 20px 200px 10px 0px ;
  z-index: 66;
  flex-shrink: 0;
}

.sign-section .container .images img {
  position: absolute;
  max-width: 90%;
  top: -51px;
}
.sign-section .container .images::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 25px;
  background-color: #ffba4154;
  height: 100%;
  z-index: -1;
  top: 22px;
  border-radius: 0px 0px 20px 200px;
}

footer {

  padding : 100px 0;
  background-color:var(--prime-color) ;

}

footer .container {
  display :flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
  }
}
footer .container .grid-box {
  display: flex;
  gap :50px;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  footer .container .grid-box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
  } 

}

footer .grid-box ul h4 {
  margin-bottom: 10px;
  color: var(--text-color)
}
footer .grid-box ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: var(--transition);
  color :var(--text-color)
}
footer .grid-box ul li:hover {
  color: var(--second-color)
}

footer .social label {
  font-size: 10px;
  color: var(--text-color)
}
footer .social .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px; 
}
@media (max-width: 767px) {
  footer .social .social-icons {
    margin-top: 20px;
  }
}
footer .social .social-icons i {
  width: 30px ;
  height: 30px ;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color :#fff;
  font-size: 14px;
  cursor: pointer;
}


.social .lang {
  display : flex;
  margin-top: 20px;
  align-items: center;
  gap : 15px;
}

.social .store {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social .store img {
  width: 80px;
  cursor: pointer;
  height: 80px;
}




/* start slider */
.slider-container {
  padding: 100px 0 ;
}
@media (max-width :767px) {
  .slider-container {
    padding-top: 0px;
    padding-bottom: 200px;
  }
}
.slider-container .container {
  position: relative;
}

.slider-container .container .main-content {
  position: relative;
  height: 450px;
  /* background-color: #f57341; */
}

.slider-container .container .content {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
  padding: 39px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  transition : var(--transition);
  transform-origin:top left;

}


@media (max-width: 767px)  {
  .slider-container .container .content {
    flex-direction: column;
  }
  .slider-container .container .content .text {
    text-align: center;
  }
}
.slider-container .container .content.active {
  opacity: 1;
  z-index: 1;
  transform: translate(0,-50%);
  transition-delay:.2s ;
}


.slider-container .container .content .img img {
  width: 400px;
}
@media (max-width: 767px) {
  .slider-container .container .content .img img  {
    width: 300px;
  }

}
.slider-container .container .control {
  position: absolute;
  margin-top: 21px;
  width: 100%;
}
.slider-container .container .control span {
  background-color: var(--second-color);
  padding: 10px 30px ;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.slider-container .container .control span.disabled {
  background-color: var(--first-color);
  cursor: no-drop;
}
.slider-container .container .control .next {
  position: absolute;
  right: 30px;
}
.slider-container .container .control .prev {
  left: 0;
  position: absolute;
}

.btnUp {
  position: fixed;
  z-index: 888;
  width: 50px ;
  height: 50px;
  border-radius: 50%;
  /* background-color: green; */
  display: grid;
  place-items: center;
  right: 20px ;
  bottom: 10px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: var(--transition);
}
.btnUp .progressvalue {
  background-color: var(--special-color);
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  display: block;
  border-radius: 50%;
  display: grid;
  place-items: center;

}


.btnUp.active {
  transform: scale(1);
  opacity: 1;
}
.btnUp i {
  font-size: 18px;
  color : var(--text-color) ;
}

/* hidden the content of Y */

body.hidden {
  overflow-y: hidden;
}


.portfolio {
  padding: 100px 0;
  background-color: var(--main-color);
  overflow-x: hidden;

}

.portfolio .container .switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.portfolio .container .switcher li {
  padding: 10px 20px;
  color: var(--text-color);
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  z-index:1
}
.portfolio .container .switcher li::before {
  content: "";
  position: absolute;
  left : 0;
  top: 0;
  width: 100% ;
  height: 100% ;
  background: var(--linear-color);
  opacity: 0;
  transition: var(--transition);
  z-index: -1;
  border-radius: 5px;

}
@media (max-width: 767px) {
  .portfolio .container .switcher{
    gap: 10px;
  }
  .portfolio .container .switcher li{
    padding : 10px
  }
}
.portfolio .container .switcher li.active {
  background: var(--linear-color);
  color: #fff;
}
.portfolio .container .switcher li:hover {
  color :#fff;
}
.portfolio .container .switcher li:hover::before {
  /* background: var(--linear-color); */
  opacity: 1;
}

.portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
  gap: 30px;
}


.gallery .boxex {
  position :relative ;
  background-color: var(--gallery-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: var(--transition) ease-in-out;
}

.gallery .boxex.hid {
  display: none;
}
.gallery .boxex.show {
  display: block;
  animation: showElement .7s ease;
}


@keyframes showElement {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }

}
.gallery .boxex img {
  width:100% ;
  transition: var(--transition);
  height: 260px;
}
@media (max-width : 767px) {
  .gallery .boxex img  {
    height: 100%;
  }
}
.gallery .boxex .images {
    overflow: hidden;
    border-radius: 15px;

}

.gallery .boxex:hover .images img {
  transform: scale(1.1);

}
.gallery .boxex .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  color: var(--text-color)
}
.gallery .boxex .text span {
  background-color: var(--back-color);
  padding: 5px 10px ;
  border-radius: 5px;
}
.gallery .boxex .text .rivew {
  display: flex;
  gap : 10px ;
  align-items: center;
}

.gallery .boxex .text .rivew i {
  color :var(--first-color);

}
.gallery .boxex .text .rivew p {
  color : var(--text-color)
}

.gallery .boxex .content {
  padding: 20px 30px;
}

.head-add {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
  transition: var(--transition);
  cursor: pointer;
  color: var(--text-color)
}
.head-add:hover {
  color: var(--second-color)
}
.gallery .boxex .content .price {
  color: var(--second-color);
  font-weight: bold;
  font-size: 25px;
  display: flex;
  gap : 20px ;
  align-items: center;
}
.gallery .boxex .content .price span {
  font-size: 17px;
  color: rgb(42, 42, 42);
  font-weight: normal;
  text-decoration:line-through;
}
.gallery .boxex .content .img {
  display :flex;
  align-items: center;
  gap : 10px ;
  margin-top: 10px ;
  overflow: hidden;
}

.gallery .boxex .content .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: var(--transition);
}
.gallery .boxex .content .img p {
  font-weight: normal;
  color: var(--text-color)
}

.gallery .boxex .final-content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gallery-detail-color);
  padding:20px 30px;
}

.gallery .boxex .final-content .count-less {
  display: flex;
  align-items: center;
  gap : 10px ;
  color :var(--text-color)
}

.gallery .boxex .final-content .newpage {
  color :var(--second-color);
  font-weight: bold;
}
.gallery .boxex:hover .content-hover {
  opacity: 1;
  visibility: visible;

}
.gallery .boxex .content-hover {
  position: absolute;
  background-color: var(--gallery-detail-color);
  top: 0;
  left: 15px; 
  right: 15px ;
  padding : 20px 30px ;
  border-radius: 10px ;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
  cursor: auto;
  box-shadow: 0px 0px 70px rgb(15 38 71 / 20%);
  height: 90%;
}

@media (max-width: 991px) {
  .gallery .boxex .content-hover {
    width: 100%;
    height: 100%;
    left: 0;
    right : 0;
  }
}

@media (max-width: 767px) {
  .gallery .boxex .content-hover {
    display: none;
  }
}
.gallery .boxex .content-hover .top-text > span {
  background: var(--linear-color);
  color :#fff ;
  padding: 5px ;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  width: fit-content;
}
.gallery .boxex .content-hover .top-text p:nth-of-type(2) {
  color :var(--text-color)
}
.gallery .boxex .content-hover .top-text p > span {
  color :var(--second-color);

}

.gallery .boxex .content-hover .top-text .detail-content {
  margin: 20px 0;
  color :var(--text-color)
}


.gallery .content-hover .bottom-text .check {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.gallery .content-hover .bottom-text .check li {
  margin-bottom: 10px;
  color :var(--text-color)
}
.gallery .content-hover .bottom-text .check li i {
  color : var(--second-color);
  margin-right : 10px; 
}

.gallery .content-hover .bottom-text .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.gallery .content-hover .bottom-text .details p {
  background: var(--linear-color);
  padding: 10px 30px ;
  border-radius: 5px;
  color: #fff ;
  cursor: pointer;
  transition: var(--transition);
}
.gallery .content-hover .bottom-text .details p:hover {
  background-color: var(--first-color);
}
.gallery .content-hover .bottom-text .details i {
  border: 1px solid rgb(201, 201, 201);
  padding : 10px ;
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}
.gallery .content-hover .bottom-text .details i:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 0;
  left : 0;
  width: 100% ;
  height: 100% ;
  background:var(--linear-color);
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
  transition: var(--transition);
}
.gallery .content-hover .bottom-text .details i:last-of-type:hover{
  color: #fff;
  border-color: transparent;
}
.gallery .content-hover .bottom-text .details i:hover::after {
  opacity: 1;
}

.gallery .content-hover .bottom-text .details i:first-of-type:hover {
  border-color:var(--second-color) ;
  color: var(--second-color)
}

span.prog {
  color :#31bf82;

}
span.graphic {
  color :#319dbf;
} 
span.webpag {
  color :#3f51b5;
  /* background-color: #fffaf1 !important; */
}


.course-program {
  position: relative;
  padding: 100px 0;
  background-color: var(--main-color);

}

.course-program .container .images-container {
  display: flex;
  gap: 40px ;
  align-items: center;
  justify-content: space-between;
} 
@media (max-width: 991px) {
  .course-program .container .images-container {
    flex-direction: column;
  }
}
.course-program .images-container .week-data {
  position: relative;
}
.images-container .week-data ul {
  text-align: left;
  counter-reset: section ;
}

@media (max-width: 991px) {
  .images-container .week-data ul {
    text-align: left;
    counter-reset: section;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 25px;
}
}
.images-container .week-data ul li {
  margin-bottom: 20px;
  background-color: var(--special-color);
  box-shadow: 0 0 10px rgb(0 0 0 / 14%);
  padding: 20px 50px;
  text-align: left;
  padding-left: 25px;
  width: 310px;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
  color: var(--text-color);
  z-index: 1;

}
.images-container .week-data ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left : 0;
  width: 100% ;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  background: var(--linear-color);
  z-index: -1;
}
@media (max-width : 767px ) {
.images-container .week-data ul li {
  width: 100%
}
}
.images-container .week-data ul li:hover {
  color: white;
}
.images-container .week-data ul li:hover::before , .images-container .week-data ul li.active {
  background: var(--linear-color);
  color : white; 
  opacity: 1;
}
.images-container .week-data ul li::after {
  counter-increment: section;
  content: counter(section);
  /* color :black; */
  position: absolute;
  font-size: 100px;
  top: 50%;
  right: 20px;
  color: var(--li-color);
  font-weight: bold;
  transform: translateY(-50%);
  transition: var(--transition);

}
.images-container .week-data ul li:hover::after , .images-container .week-data ul li.active::after {
  color: rgba(238, 238, 238, 0.276);
}

.images-container .content-course {
  position: relative;
  flex: 1;
  height: 612px;
}
@media (max-width: 991px) {
  .images-container .content-course {
    flex: auto ;
    width: 100% ;
  }
}

.images-container .content-course .box {
  position: absolute;
  width: 100%;
  left: 0 ;
  top: 0;
  height: 100%;
  background-color: var(--gallery-color);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.085);
  padding: 40px;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: var(--transition);
  transform: translateY(-40px);
}
@media (max-width: 767px) {
.images-container .content-course .box {
  height: auto;
}
}
.images-container .content-course .box.active {
  z-index: 44;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: .7s;
}

.images-container .content-course .box h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--text-color)

}

.images-container .content-course .box .details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px ;
  margin-bottom: 30px;
} 
@media (max-width: 767px) {
.images-container .content-course .box .details {
  flex-wrap: wrap;
}
}

.images-container .content-course .box .details ul li {
  margin-bottom: 20px;
  position: relative;
  margin-left: 20px;
  display: flex;
  align-items: center;
  line-height: 1.2;
  color: #6B616F;


}
.images-container .content-course .box .details ul li::before {
  content: "";
  position: absolute;
  top: 50% ;
  transform: translateY(-50%);
  left: -20px;
  width: 10px;
  /* display: flex; */
  align-items: center;
  height: 10px;
  background-color: var(--second-color);
  border-radius: 50%;
  margin-right: 20px;
}
.images-container .content-course .box .notes {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap : 20px ;
}

.images-container .content-course .box .notes p {
  line-height: 1.6;
  color: #6B616F
}
.images-container .content-course .box .notes p span {
  color :var(--second-color);
  font-weight: bold;
}
.images-container .content-course .box .notes img {
  width: 260px;
  border-radius: 50%;
  height: 260px;
}
@media (max-width: 767px)  {
.images-container .content-course .box .notes img {
  display: none;
}
}

/* start dark-web */

.dark-icon i {
  color :var(--text-color);
  font-size: 22px;
  cursor: pointer;  
}

